# camera.env
CAMERA_USERNAME=
CAMERA_PASSWORD=
CAMERA_IP=192.168.123.199
CAMERA_PORT=554
CAMERA_STREAM=stream1


# Azure Blob Storage
STORAGE_ACCOUNT_NAME=yourstorageaccount
CONTAINER_NAME=camerasnapshots
SAS_TOKEN=?sv=2022-11-02&ss=b&srt=c&sp=rwdlacx&se=2023-12-31T23:59:59Z&st=2023-01-01T00:00:00Z&spr=https&sig=YourSASTokenSignatureHere

# Organization (adjust as needed)
CUSTOMER=XYZ
